@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive; /* Using Press Start 2P font for a game-like feel */
}

a {
  color: #ffcc00; /* Yellow */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #ffffff; /* White */
  background: #222222; /* Dark Grey */
}
  