.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.main {
  max-width: 1440px;
  padding: 5rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.gradientText0 {
  color: #5f9ea0; /* Cadet Blue */
}

.gradientText1 {
  color: #8fbc8f; /* Dark Sea Green */
}

.gradientText2 {
  color: #add8e6; /* Light Blue */
}

.gradientText3 {
  color: #deb887; /* Burly Wood */
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #add8e6; /* Light Blue */
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  color: #ffffff; /* White */
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #ffffff; /* White */
}

.code {
  background: black;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
  color: #ffffff; /* White */
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #f5f5dc; /* Beige */
  text-align: left;
  color: white; /* Dark Gray */
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
  padding: 1rem;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card,
.footer {
  border-color: #ccc; /* Light Gray */
}

.logo img {
  filter: invert(1);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.navbarOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbarOptions p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: color 0.3s;
}

.navbarOptions Link {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.navbarLogoutButton {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: crimson;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbarLogoutButton:hover {
  background-color: #ff6b6b;
}
